aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.7.0
asttokens==2.4.1
attrs==24.2.0
Babel==2.13.1
backcall==0.2.0
backoff==2.2.1
barcodenumber==0.5.0
beautifulsoup4==4.12.3
bleach==6.0.0
bleach-allowlist==1.0.3
boto3==1.34.162
botocore==1.34.162
braintree==4.20.0
Brotli==1.1.0
cachetools==4.2.4
cairocffi==1.5.1
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
chardet==5.1.0
charset-normalizer==3.4.0
click==8.1.7
coverage==6.5.0
croniter==2.0.7
cryptography==43.0.3
cssselect==1.2.0
cssselect2==0.7.0
cssutils==2.9.0
dataclasses-json==0.5.14
decorator==5.1.1
deprecation==2.1.0
distlib==0.3.9
docopt==0.6.2
dropbox==11.36.2
email-reply-parser==0.5.12
-e git+https://github.com/frappe/erpnext.git@17e00b397f3761e3d937d06cf1e05f927da123d1#egg=erpnext
et_xmlfile==2.0.0
executing==2.1.0
Faker==18.10.1
filelock==3.13.4
filetype==1.2.0
flake8==7.1.2
fonttools==4.55.0
-e git+https://github.com/frappe/frappe.git@4e506fda1f238cb426a67f572dcf229267f82d15#egg=frappe
-e git+https://github.com/navariltd/frappe-mpsa-payments.git@ded5c2fa6f5ad0c73407d4897e7d626c28a9c0cc#egg=frappe_mpsa_payments
freezegun==1.2.2
frozenlist==1.5.0
gitdb==4.0.11
GitPython==3.1.43
gocardless_pro==1.22.0
google-api-core==1.34.1
google-api-python-client==2.2.0
google-auth==1.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.66.0
googlemaps==4.10.0
gunicorn==22.0.0
hiredis==2.2.3
holidays==0.61
-e git+https://github.com/frappe/hrms.git@b5b6c63ce11a185ed1677ee7c0ca12d49415acac#egg=hrms
html5lib==1.1
httplib2==0.22.0
hypothesis==6.77.0
identify==2.6.3
idna==3.10
ipython==8.15.0
isodate==0.6.1
jedi==0.19.2
Jinja2==3.1.4
jmespath==1.0.1
-e git+https://github.com/navariltd/kenya-compliance.git@1e808fe5c00d3d420e7ba72aef0a26d583499c7a#egg=kenya_compliance
-e git+https://github.com/Signifide/kindatheme.git@c21547cce6722c93f5fa1b08ff5a4c5e8d356aaf#egg=kindatheme
ldap3==2.9.1
-e git+https://github.com/Simoh8/LedgerCtrl.git@6367bfbb09515cbfaf3e9e5bab4b6fd72b81c55e#egg=ledgerctrl
-e git+https://github.com/frappe/lending.git@e08a7411b04b7565d459ea416c406934ce3fe2b4#egg=lending
# Editable Git install with no remote (library==0.0.1)
-e /home/simon/frappe-bench/apps/library
lxml==5.3.0
markdown2==2.4.13
markdownify==0.11.6
MarkupSafe==2.1.5
marshmallow==3.23.1
matplotlib-inline==0.1.7
maxminddb==2.6.2
maxminddb-geolite2==2018.703
mccabe==0.7.0
-e git+https://github.com/Signifide/pawapay.git@74379a6d4ec77120b6b282ce554ea39b4728839e#egg=mobilemoney
monotonic==1.6
multidict==6.1.0
mypy-extensions==1.0.0
nodeenv==1.9.1
-e git+https://github.com/frappe/non_profit.git@ea2c88ddb04d60e7a81bfae58a1307d5f6496487#egg=non_profit
num2words==0.5.13
oauthlib==3.2.2
openpyxl==3.1.5
packaging==24.2
parso==0.8.4
passlib==1.7.4
-e git+https://github.com/frappe/payments.git@6655e688beac2dfeb4e50e190a909dcc194e46b0#egg=payments
paytmchecksum==1.7.0
pdfkit==1.0.0
pexpect==4.9.0
phonenumbers==8.13.13
pickleshare==0.7.5
pillow==10.3.0
plaid-python==7.2.1
platformdirs==4.3.6
ply==3.11
posthog==3.0.2
pre-commit==3.7.1
premailer==3.10.0
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==3.20.3
psutil==5.9.8
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pycountry==22.3.5
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.7.4
pydantic_core==2.18.4
pydyf==0.10.0
pyflakes==3.2.0
Pygments==2.18.0
PyJWT==2.8.0
PyMySQL==1.1.1
pyngrok==6.0.0
pyOpenSSL==24.2.1
pyotp==2.8.0
pyparsing==3.2.0
pypdf==3.17.4
pyphen==0.17.0
PyPika==0.48.9
pypng==0.20220715.0
PyQRCode==1.2.1
python-dateutil==2.8.2
python-stdnum==1.20
python-youtube==0.8.3
pytz==2023.3
PyYAML==6.0.2
qrcode==7.4.2
rapidfuzz==2.15.2
rauth==0.7.3
razorpay==1.4.2
redis==4.5.5
requests==2.32.3
requests-oauthlib==1.3.1
responses==0.23.1
RestrictedPython==7.4
rq==1.15.1
rsa==4.9
s3transfer==0.10.4
semantic-version==2.10.0
sentry-sdk==1.37.1
setuptools==75.6.0
six==1.16.0
-e git+https://github.com/adminsignifide/ZRA_KINDATECH_VSDC.git@90ab3d7dab945ae3d27c30474435702d8d673f3a#egg=smart_zambia_invoice
smmap==5.0.1
sortedcontainers==2.4.0
soupsieve==2.6
sql_metadata==2.11.0
sqlparse==0.5.2
stack-data==0.6.3
stone==3.3.8
stripe==10.12.0
tenacity==8.2.3
terminaltables==3.1.10
tinycss2==1.1.1
tomli==2.0.2
traceback-with-variables==2.0.4
traitlets==5.14.3
types-PyYAML==6.0.12.20241230
typing-inspect==0.9.0
typing_extensions==4.12.2
Unidecode==1.3.8
unittest-xml-reporting==3.2.0
uritemplate==3.0.1
urllib3==2.2.3
virtualenv==20.28.0
watchdog==3.0.0
wcwidth==0.2.13
weasyprint==59.0
webencodings==0.5.1
Werkzeug==3.0.6
wheel==0.45.1
Whoosh==2.7.4
xlrd==2.0.1
yarl==1.18.0
-e git+https://github.com/Signifide/zambia-payroll.git@c9a46b6cf6b603b368e5003604997f38d187be9d#egg=zambia_payroll
zopfli==0.2.3.post1
zxcvbn==4.4.28
